<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Add Assignee</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/admin/user/update/{id}(id=${user.id})}"method="post" th:object="${user}">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="first_name" class="col-form-label">Name</label>
                                                    <input id="first_name" type="text" placeholder="First Name" th:field="*{first_name}" class="form-control">
                                                    <div th:if="${#fields.hasErrors('first_name')}">
                                                        <ul>
                                                            <li class="invalid-feedback" th:each="err : ${#fields.errors('first_name')}"
                                                                th:text="${err}" style="color:red"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="l_name" class="col-form-label">Last Name</label>
                                                    <input id="l_name" type="text" placeholder="Last Name" th:field="*{last_name}" class="form-control">
                                                    <div th:if="${#fields.hasErrors('last_name')}">
                                                        <ul>
                                                            <li class="invalid-feedback" th:each="err : ${#fields.errors('last_name')}"
                                                                th:text="${err}" style="color:red"></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="user_name" class="col-form-label">Email Address</label>
                                                    <input id="user_name" type="text" placeholder="email address" th:field="*{user_name}" class="form-control">
                                                    <div th:if="${#fields.hasErrors('user_name')}">
                                                        <ul>
                                                            <li class="invalid-feedback" th:each="err : ${#fields.errors('user_name')}"
                                                                th:text="${err}" style="color:red"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="office_no" class="col-form-label">Office Number</label>
                                                    <input id="office_no" type="text" placeholder="office number" th:field="*{officeNo}" class="form-control">
                                                    <div th:if="${#fields.hasErrors('officeNo')}">
                                                        <ul>
                                                            <li class="invalid-feedback" th:each="err : ${#fields.errors('officeNo')}"
                                                                th:text="${err}" style="color:red"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="form-group">
<!--                                                    <label>Role</label>-->
<!--                                                    <select id="roles" class="form-control" th:field="*{roleDto}">-->
<!--                                                        <option th:if="${roles.size() > 1}" th:value="''" th:text="'Select'" selected></option>-->
<!--                                                        <option th:each="role: ${roles}"-->
<!--                                                                th:value="${{role.id}}"-->
<!--                                                                th:text="${role.description}"-->
<!--                                                                th:selected="${role.id}==user.role.id">-->
<!--                                                        </option>-->
<!--                                                    </select>-->
                                                    <label>Role</label>
                                                    <select id="trans" class="form-control" th:field="*{roleDto}">
                                                        <option th:if="${roles.size()> 1}"
                                                                th:value="''" th:text="'Select'" selected></option>
                                                        <option th:each= "role:${roles}"
                                                                th:value="${{role.getId()}}"
                                                                th:text="${role.getDescription()}"
                                                                th:selected="${role.id}==${user.getRoleDto().getId()}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <p></p>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-12">
                                                <div class="float-right">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->


                                </div>

                            </section>

                        </div>

                    </div>

                </div>



            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>