<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Search Device Record</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
<!--                                    <form th:action="@{/records/device-search}" method="post" th:object="${device}">-->

<!--                                        <div class="row">-->

<!--                                            <div class="col-sm-6 col-md-6">-->
<!--                                                <div class="form-group">-->
<!--                                                    <label for="serialNo" class="col-form-label">Enter Device Serial No:</label>-->
<!--                                                    <input id="serialNo" type="text" placeholder="serial no" th:field="*{serialNumber}" class="form-control">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->



<!--                                        <div class="row">-->
<!--                                            <div class="col-sm-6 col-md-6 col-lg-12">-->
<!--                                                <div class="float-right">-->
<!--                                                    <button type="submit" class="btn btn-success">Search</button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                    </form>-->
                                    <form th:action="@{/records/device-search}" method="post">
                                        <div class="form-group">
                                            <label for="sno">Device Serial Number</label>
                                            <select id="sno" class="form-control" name="serialNumber">
                                                <option value="" selected>Select</option>
                                                <option th:each="device : ${devices}" th:value="${device.serialNumber}" th:text="${device.serialNumber}"></option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary d-inline-block mb-2 mb-sm-0 mr-sm-2">Search</button>
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>



            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>